<div class="text-center">
  <h1 class="mb-5">Success!</h1>
  <p>You bought <span><%= params[:title] %></span></p>
  <h2 class="mb-5">Thanks for the money, but this store is closed. LOL!</h2>
  <%= image_tag 'https://upload.wikimedia.org/wikipedia/ru/thumb/7/78/Trollface.svg/1200px-Trollface.svg.png', width: 200 %>
</div>
