<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>The price has changed!</h3>
<p><%= @product.title %></p>
<p>--------------------------</p>
<p>New Price <%= @product.price %></p>
</body>
</html>