<% if @product.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h5>
    <ul class="list-unstyled">
      <% @product.errors.each do |error| %>
        <li class="alert alert-danger"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
